*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #9290ff;
}

/* Contenitori */

.contenitore{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    height: 40px;
    width: 40px;  
}

.contenitore_s{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    height: 320px;
    width: 320px;  
}



.contenitore_10{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    height: 20px;
    width: 20px;  
}

.contenitore_10x16{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);

    height: 30px;
    width: 20px;  
}

.contenitore_32{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);

    height: 120px;
    width: 120px;  
}

.contenitore_50{
    display: grid;
    grid-template-columns: repeat(49, 1fr);
    grid-template-rows: repeat(49, 1fr);

    height: 120px;
    width: 110px;  
}

/*Header*/
/*Scritta */

.scritta_mario{
    position: absolute;
    transform: translate(5vw, 10vh);
}

/*Punteggio*/

.punteggio_mario_0{
      position: absolute;
    transform: translate(5vw, 15vh);
}
.punteggio_mario_1{
      position: absolute;
    transform: translate(7vw, 15vh);
}
.punteggio_mario_2{
      position: absolute;
    transform: translate(9vw, 15vh);
}
.punteggio_mario_3{
      position: absolute;
    transform: translate(11vw, 15vh);
}
.punteggio_mario_4{
      position: absolute;
    transform: translate(13vw, 15vh);
}
.punteggio_mario_5{
      position: absolute;
    transform: translate(15vw, 15vh);
}
.punteggio_mario_6{
      position: absolute;
    transform: translate(30vw, 15vh);
}
.punteggio_mario_7{
      position: absolute;
    transform: translate(32vw, 15vh);
}

/* Blocchi */
/*Domanda Blocco*/

.domanda_blocco{
    position: absolute;
     transform: translate(20vw, 55vh); /*Blocco domanda sinistra*/
}
.domanda_blocco_1{
    position: absolute;
    transform: translate(52vw, 55vh);
}
.domanda_blocco_2{
    position: absolute;
     transform: translate(58vw, 55vh);
}
.domanda_blocco_3{
    position: absolute;
     transform: translate(55vw, 15vw); /*Blocco domanda in alto*/
}

.domanda_blocco:hover .pixel,
.domanda_blocco_1:hover .pixel,
.domanda_blocco_2:hover .pixel,
.domanda_blocco_3:hover .pixel
{
    cursor: pointer;
    background-color:#AC4501 ;   
}

.domanda_blocco:hover .black,
.domanda_blocco_1:hover .black,
.domanda_blocco_2:hover .black,
.domanda_blocco_3:hover .black{
    cursor: pointer;
    background-color:black ;   
}

/*Blocco distruttibile*/
.blocco_mattoni{
    position: absolute;
    transform: translate(55vw, 55vh);
}
.blocco_mattoni_1{
    position: absolute;
    transform: translate(49vw, 55vh);
}
.blocco_mattoni_2{
    position: absolute;
    transform: translate(61vw, 55vh);
}

.blocco_mattoni:hover{
    cursor: pointer;
    transform: translate(55vw, 53vh);
}
.blocco_mattoni:hover .money_1 .contenitore_10x16{
    display: block;
}
.blocco_mattoni_1:hover{
    cursor: pointer;
    transform: translate(49vw, 53vh);
}
.blocco_mattoni_2:hover{
    cursor: pointer;
    transform: translate(61vw, 53vh);
}

/*Monete*/

.money{
        transform: translate(26vw, 14vh);
}
.money_1{
        transform: translate(50vw, 40vh);
}
.money_1 .contenitore_10x16{
        display: none;
        width: 10px;
}
/*Personaggi*/

.super_mario{
    position: absolute;
    transform: translate(2vw, 80vh);
}

.super_luigi{
    position: absolute;
    transform: translate(6vw, 80vh);
}
.super_mario .contenitore:hover,
.super_luigi .contenitore:hover{
    cursor: pointer;
    transform: translate(0px, -20px);
    height: 60px;
    width: 60px;
}

/*Nemici*/

.enemy_1{
    position: absolute;
    transform: translate(58vw, 80vh);
}

.enemy_1 .contenitore:hover,
.enemy_2 .contenitore:hover,
.enemy_3 .contenitore:hover
{
    cursor: pointer;
    height: 20px;
    transform: translate(0px, 20px);
}

.enemy_2{
    position: absolute;
    transform: translate(62vw, 80vh);
}

.enemy_3{
    position: absolute;
    transform: translate(66vw, 80vh);
}

/*Scenario*/

.cespuglio_big{
    position: absolute;
    transform: translate(35vw, 77vh);
}

.cespuglio{
    position: absolute;
    transform: translate(80vw, 77vh);
}

.nuvola{
    position: absolute;
    transform: translate(70vw, 20vh);
}

/*Livello basso*/

.base_level_up{
    display: flex;
    position: fixed;
    top:87vh;
}
.base_level_down{
    display: flex;
    position: fixed;
    top:93.5vh;
}

/**************************************************************************************/
/* Colore pixel */

.pixel{
    background-color: #9290ff;
}

/* Colori Mario */

.red{
    background-color: #BE2E36;
}
.brown{
    background-color:#62473B ;
}
.cream{
    background-color: #E1BF8C;
}
.black{
    background-color:#150E04 ;
}
.blue{
    background-color: #426899;
}
.yellow{
    background-color:#FFC13C ;
}

/* Colori Luigi */

.super_luigi .red{
    background-color: #69be2f;
}

.cream{
    background-color: #E1BF8C;
}
.black{
    background-color:#150E04 ;
}
.blue{
    background-color: #426899;
}
.yellow{
    background-color:#FFC13C ;
}

/* Colori blocchi */

.orange{
    background-color: #d2681e;
}
.yellow_soft{
    background-color:#fee39c;
}

/*Nuvola*/
.white{
    background-color: white;
}
.azure{
    background-color: rgb(43, 140, 211);
}

/* Colori Cespugli*/

.cespuglio .white,
.cespuglio_big .white{
    background-color: #88d800;
}

.cespuglio .azure,
.cespuglio_big .azure{
    background-color: #4fa20a;
}

/* Colori Blocchi Mattoni */

.blocco_mattoni .brown,
.blocco_mattoni_1 .brown,
.blocco_mattoni_2 .brown{
    background-color: #994e00;
}

.enemy_1 .orange,
.enemy_2 .orange,
.enemy_3 .orange{
    background-color:#954b0c ;
}
