*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #9290ff;
}

.contenitore{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    height: 40px;
    width: 40px;  
}

.contenitore_s{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    height: 320px;
    width: 320px;  
}

.contenitore_32{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);

    height: 120px;
    width: 120px;  
}

.domanda_blocco{
    position: absolute;
     transform: translate(400px, 320px);
}

.domanda_blocco_1{
    position: absolute;
     transform: translate(800px, 320px);
}

.domanda_blocco_2{
    position: absolute;
     transform: translate(700px, 320px);
}

.super_mario{
    position: absolute;
    transform: translate(50px, 477px);
}

.super_luigi{
    position: absolute;
    transform: translate(100px, 477px);
}

.nuvola{
    position: absolute;
    transform: translate(800px, 100px);
}

.cespuglio{
    position: absolute;
    transform: translate(1100px, 457px);
}

.cespuglio_big{
    position: absolute;
    transform: translate(500px, 457px);
}

.base_level_up{
    display: flex;
    position: fixed;
    top:87vh;
}
.base_level_down{
    display: flex;
    position: fixed;
    top:93.5vh;
}

/* Colore pixel */

.pixel{
    background-color: #9290ff;
}

/* Colori Mario */

.red{
    background-color: #BE2E36;
}
.brown{
    background-color:#62473B ;
}
.cream{
    background-color: #E1BF8C;
}
.black{
    background-color:#150E04 ;
}
.blue{
    background-color: #426899;
}
.yellow{
    background-color:#FFC13C ;
}

/* Colori Luigi */

.super_luigi .red{
    background-color: #69be2f;
}

.cream{
    background-color: #E1BF8C;
}
.black{
    background-color:#150E04 ;
}
.blue{
    background-color: #426899;
}
.yellow{
    background-color:#FFC13C ;
}

/* Colori blocchi */

.orange{
    background-color: #d2681e;
}
.yellow_soft{
    background-color:#fee39c;
}

/*Nuvola*/
.white{
    background-color: white;
}
.azure{
    background-color: rgb(43, 140, 211);
}

/* Colori Cespugli*/

.cespuglio .white,
.cespuglio_big .white{
    background-color: #88d800;
}

.cespuglio .azure,
.cespuglio_big .azure{
    background-color: #4fa20a;
}
